.main-menu
    .main-menu__left
    .main-menu__right
    .main-menu__content
        +nav('main-menu-list', {
            "Мои работы": "works",
            "Обо мне": "about",
            "Блог": "blog",
            "Авторизация": "./",
        })
.menu-hamburger
    .menu-hamburger__item
        span