ul.socials
    li.socials__item
        a.socials__link(href="#", target="_blank")
            svg.socials__svg.ic-vk(preserveAspectRatio="xMinYMin meet")
                use.icon(xlink:href="assets/img/sprite/sprite/img.svg#vk")
    li.socials__item
        a.socials__link(href="#", target="_blank")
            svg.socials__svg.ic-github(preserveAspectRatio="xMinYMin meet")
                use.icon(xlink:href="assets/img/sprite/sprite/img.svg#github")
    li.socials__item
        a.socials__link(href="#", target="_blank")
            svg.socials__svg.ic-link-in(preserveAspectRatio="xMinYMin meet")
                use.icon(xlink:href="assets/img/sprite/sprite/img.svg#in")