block content
    .test-content
        ul
            each index in items
                figure
                    p
                        img(src=`${index.picture}`)
                    figcaption= index.name
                    figcaption= index.desc
                    figcaption= index.plinks