.slider-main
    ul.slider-info
        li.slider-info__box.active
            .slider-info__title Сайт школы онлайн образования 1
            .slider-info__description HTML , CSS, JAVASCRIPT
            .slider-info__button
                a.slider-info__link(href="#") Посмотреть сайт
        li.slider-info__box
            .slider-info__title Сайт школы онлайн образования 2
            .slider-info__description HTML , CSS, JAVASCRIPT
            .slider-info__button
                a.slider-info__link(href="#") Посмотреть сайт
        li.slider-info__box
            .slider-info__title Сайт школы онлайн образования 3
            .slider-info__description HTML , CSS, JAVASCRIPT
            .slider-info__button
                a.slider-info__link(href="#") Посмотреть сайт
        li.slider-info__box
            .slider-info__title Сайт школы онлайн образования 4
            .slider-info__description HTML , CSS, JAVASCRIPT
            .slider-info__button
                a.slider-info__link(href="#") Посмотреть сайт

    .slider-imgs__box
        ul.slider-imgs__lists
            li.slider-imgs__list-item.active
                img.slider-imgs__img(src="/assets/img/work-1.png")
            li.slider-imgs__list-item
                img.slider-imgs__img(src="/assets/img/work-2.png")
            li.slider-imgs__list-item
                img.slider-imgs__img(src="/assets/img/work-3.png")
            li.slider-imgs__list-item
                img.slider-imgs__img(src="/assets/img/work-4.png")
    .slider-imgs__nav
        .slider-imgs__down
            .slider-imgs__inner
                svg.button-down__svg(preserveaspectratio='xMaxYMax meet', viewbox='0 0 25.18 16.164')
                    use(xlink:href='assets/img/sprite/sprite/img.svg#arrow_down')

            ul.slider-imgs__list
                li.slider-imgs__list-item
                    img.slider-imgs__navimg(src="/assets/img/work-1.png")
                li.slider-imgs__list-item
                    img.slider-imgs__navimg(src="/assets/img/work-2.png")
                li.slider-imgs__list-item
                    img.slider-imgs__navimg(src="/assets/img/work-3.png")
                li.slider-imgs__list-item.active
                    img.slider-imgs__navimg(src="/assets/img/work-4.png")
        .slider-imgs__up
            .slider-imgs__inner
                svg.button-up__svg(preserveaspectratio='xMaxYMax meet', viewbox='0 0 25.18 16.164')
                    use(xlink:href='assets/img/sprite/sprite/img.svg#arrow_down')

            ul.slider-imgs__list
                li.slider-imgs__list-item
                    img.slider-imgs__navimg(src="/assets/img/work-1.png")
                li.slider-imgs__list-item.active
                    img.slider-imgs__navimg(src="/assets/img/work-2.png")
                li.slider-imgs__list-item
                    img.slider-imgs__navimg(src="/assets/img/work-3.png")
                li.slider-imgs__list-item
                    img.slider-imgs__navimg(src="/assets/img/work-4.png")

