block content
    .wrapper-blog
        header.section-header
            .socials-about
                include ../common/_soc_widget
            include ../common/_menu_gamburger
        section.section-profile.section-profile_style_blog
            .section-profile__bg.section-profile_bg_blog
            .profile-container
                .profile-container__info
                    .profile-container__photo
                        .profile-container__image
                            img(src="/assets/img/myphoto.jpg" class="rounded-image")
                    .profile-container__name.style_blog-name Блог
                    .profile-container__caption Статьи, которые я написал
            .profile-container__bgicons
                .profile-container__icons
                    svg.profile-container__stars(preserveAspectRatio="xMinYMin meet")
            .triangle-left.triangle-left_color_light
            .triangle-right.triangle-right_color_light
        section.section-blog
            .section-blog__container
                .section-blog__inner
                    .section-blog__menu
                        ul.section-blog__list
                            each index, id in items
                                li.section-blog__item
                                    a.articles__link(href="#article-" + id + "")= index.title
                        .menu-blog-nav.display_tablets_yes
                    .section-blog__content
                        each index, id in items
                            .section-blog__post(id="article-" + id + "")
                                .section-blog__title= index.title
                                .section-blog__date= index.date
                                .section-blog__text
                                    p.section-blog__p= index.body

        include ../common/_footer

